
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>HAWK</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!--bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="sam\static\main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Medilab
  * Template URL: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/
  * Updated: Jun 14 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header sticky-top">

    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href=></a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span></span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-center">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center me-auto">

          <h1 class="sitename">THE HAWK</h1>
        </a>
        <!-------vanbar-->
        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="#home" class="active">Home<br></a></li>
            <li><a href="#trending">
                <Table>Trending</Table>
              </a></li>
            <li><a href="#hot news">Hot news</a></li>
            <li><a href="#genres">Genres</a></li>
            <li><a href="#populars">Populars</a></li>
            <li><a href="review1.html">Reviews</a></li>
            <li><a href="userRev.html">userReview</a></li>

            <li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>

                <li class="dropdown"><a href="#"><span>User</span> <i
                      class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                    <li><a href="signin.html">Registration</a></li>
                    <li><a href="login.html">Login</a></li>

                  </ul>
                </li>

              </ul>
            </li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="cta-btn d-none d-sm-block" href="#feedback">Feedback</a>

      </div>

    </div>

  </header>

  <main class="main">

    <!-- slider Section -->

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../static/IMG-20240620-WA0002.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="IMG-20240620-WA0004.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="IMG-20240620-WA0003.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-----slider end -->
    <!-- trending Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-4 gx-5">

          <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="200">
            <img src="IMG-20240620-WA0003.jpg" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
          </div>

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <h3>Trending</h3>
            <p>
              Interstellar is a 2014 epic science fiction drama film directed by Christopher Nolan, who co-wrote it with
              his brother Jonathan.
            </p>
            <ul>
              <li>
                <i class="bi bi-emoji-heart-eyes"></i>
                <div>
                  <h5>Eye catching VFX</h5>
                  <p>must watch</p>
                </div>
              </li>
              <li>
                <i class="bi bi-rocket-takeoff"></i>
                <div>
                  <h5>For Space Enthusiasts</h5>
                  <p>must watch</p>
                </div>
              </li>
              <li>
                <i class="fa-solid fa-heart-circle-xmark"></i>
                <div>
                  <h5>Great Casting</h5>
                  <p>best father daughter duo</p>
                </div>
              </li>
            </ul>
          </div>

        </div>

      </div>

    </section><!-- /trending Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="bi bi-eye"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Views</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="bi bi-hand-thumbs-up"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>likes</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="bi bi-hand-thumbs-down"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>dislikes</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fas fa-award"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>rating</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /trending end  Section -->

    <!-- hot news Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Hot News</h2>
        <p>know whats going on in the cinema</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-balloon-heart-fill"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Relationships</h3>
              </a>
              <p>Reporter claims that the actors are teaming up again for a crime thriller, titled RIP.</p>
            </div>
          </div><!-- End hot news Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-cake-fill"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Birthdays</h3>
              </a>
              <p>vywood Reporter claims that the actors are teaming up again for a crime thriller, titled RIP.</p>
            </div>
          </div><!-- End hot news Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-feather"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Stories</h3>
              </a>
              <p>vywood Reporter claims that the actors are teaming up again for a crime thriller, titled RIP.</p>
            </div>
          </div><!-- End hot news Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-airplane-fill"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Business</h3>
              </a>
              <p>vywood Reporter claims that the actors are teaming up again for a crime thriller, titled RIP..</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End populer Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-backpack"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Travellings</h3>
              </a>
              <p>vywood Reporter claims that the actors are teaming up again for a crime thriller, titled RIP..</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End populars Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-calendar3"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Your Dates</h3>
              </a>
              <p>vywood Reporter claims that the actors are teaming up again for a crime thriller, titled RIP.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End popularsItem -->

        </div>

      </div>

    </section><!-- /populars Section -->

    <!-- feedback Section -->
    <section id="appointment" class="appointment section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Feedback</h2>
        <p>share your Experience with us</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">


        <div class="row">
          <div class="col-md-4 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="">
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input type="tel" class="form-control" name="phone" id="phone" placeholder="Your Phone" required="">
          </div>
        </div>




        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Message (Optional)"></textarea>
        </div>
        <div class="mb-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your submit request has been sent successfully. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Submit</button></div>
        </form>

      </div>

    </section><!-- /feedback Section -->

    <!-- movies Section -->
    <section id="departments" class="departments section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Movies</h2>
        <p>try our top 5 Genres</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#departments-tab-1">Horror</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-2">Animation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-3">Adventure</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-4">Scifi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-5">Mystery Thriller</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="departments-tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Horror</h3>
                    <p class="fst-italic"></p>
                    <p>Horror is a film genre that seeks to elicit fear or disgust in its audience for entertainment
                      purposes.[2]

                      Horror films often explore dark subject matter and may deal with transgressive topics or themes.
                      Broad elements include monsters, apocalyptic events, and religious or folk beliefs.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="IMG-20240620-WA0001.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Animation</h3>

                    <p>Horror is a film genre that seeks to elicit fear or disgust in its audience for entertainment
                      purposes.[2]

                      Horror films often explore dark subject matter and may deal with transgressive topics or themes.
                      Broad elements include monsters, apocalyptic events, and religious or folk beliefs.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="IMG-20240620-WA0002.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Adventure</h3>

                    <p>Horror is a film genre that seeks to elicit fear or disgust in its audience for entertainment
                      purposes.[2]

                      Horror films often explore dark subject matter and may deal with transgressive topics or themes.
                      Broad elements include monsters, apocalyptic events, and religious or folk beliefs.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="IMG-20240620-WA0003.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Sci-fi</h3>

                    <p>Horror is a film genre that seeks to elicit fear or disgust in its audience for entertainment
                      purposes.[2]

                      Horror films often explore dark subject matter and may deal with transgressive topics or themes.
                      Broad elements include monsters, apocalyptic events, and religious or folk beliefs</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="IMG-20240620-WA0004.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Mystery Thriller</h3>

                    <p>Horror is a film genre that seeks to elicit fear or disgust in its audience for entertainment
                      purposes.[2]

                      Horror films often explore dark subject matter and may deal with transgressive topics or themes.
                      Broad elements include monsters, apocalyptic events, and religious or folk beliefs</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="IMG-20240620-WA0005.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section>

    <!-- movies Section -->
    <section id="doctors" class="doctors section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Your Favourites</h2>
        <p>Know about lives of your Favourites</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="rdj.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>SRK</h4>
                <span>Actor</span>
                <p>im cool and so are my fans</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""> <i class="bi bi-linkedin"></i> </a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="srk.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>RDJ</h4>
                <span>Actor</span>
                <p>and i am iron man</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""> <i class="bi bi-linkedin"></i> </a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="alia.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Alia</h4>
                <span>Actress</span>
                <p>hey guys</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""> <i class="bi bi-linkedin"></i> </a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="scar.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Scarlet</h4>
                <span>Actress</span>
                <p>nothing</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""> <i class="bi bi-linkedin"></i> </a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /movies Section -->

    <!-- Faq Section -->
    <section id="faq" class="faq section">

      <!-- Section Title -->


      <!-- Testimonials Section -->
      <section id="testimonials" class="testimonials section">

        <div class="container">

          <div class="row align-items-center">

            <div class="col-lg-5 info" data-aos="fade-up" data-aos-delay="100">
              <h3>Our Ratings</h3>
              <p>
                What the LEGENDS think about us.
              </p>
            </div>

            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">

              <div class="swiper init-swiper">
                <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>
                <div class="swiper-wrapper">

                  <div class="swiper-slide">
                    <div class="testimonial-item">
                      <div class="d-flex">
                        <img src="srk.jpg" class="testimonial-img flex-shrink-0" alt="">
                        <div>
                          <h3>RDJ</h3>
                          <h4>Actor</h4>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                              class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                      </div>
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>very nice plateform for Movie Reviews</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                    </div>
                  </div><!-- End testimonial item -->

                  <div class="swiper-slide">
                    <div class="testimonial-item">
                      <div class="d-flex">
                        <img src="alia.jpg" class="testimonial-img flex-shrink-0" alt="">
                        <div>
                          <h3>Alia</h3>
                          <h4>Actress</h4>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                              class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                      </div>
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>NICE</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                    </div>
                  </div><!-- End testimonial item -->

                  <div class="swiper-slide">
                    <div class="testimonial-item">
                      <div class="d-flex">
                        <img src="scar.jpg" class="testimonial-img flex-shrink-0" alt="">
                        <div>
                          <h3>Scarlet</h3>
                          <h4>Actress</h4>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                              class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                      </div>
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>Great Plateform</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                    </div>
                  </div><!-- End testimonial item -->

                  <div class="swiper-slide">
                    <div class="testimonial-item">
                      <div class="d-flex">
                        <img src="alia.jpg" class="testimonial-img flex-shrink-0" alt="">
                        <div>
                          <h3>alia</h3>
                          <h4>Actress</h4>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                              class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                      </div>
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>shyama is great</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                    </div>
                  </div><!-- End testimonial item -->



                </div><!-- End testimonial item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>

        </div>

        </div>

      </section><!-- /Testimonials Section -->

      <!-- Gallery Section -->
      <section id="gallery" class="gallery section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Top Recommendations</h2>
          <p>Try Our Top Movies </p>
        </div><!-- End Section Title -->

        <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

          <div class="row g-0">

            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="IMG-20240620-WA0001.jpg" class="glightbox" data-gallery="images-gallery">
                  <img src="IMG-20240620-WA0001.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Gallery Item -->

            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="IMG-20240620-WA0002.jpg" class="glightbox" data-gallery="images-gallery">
                  <img src="IMG-20240620-WA0002.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Gallery Item -->

            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="IMG-20240620-WA0004.jpg" class="glightbox" data-gallery="images-gallery">
                  <img src="IMG-20240620-WA0004.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Gallery Item -->

            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="IMG-20240620-WA0001.jpg" class="glightbox" data-gallery="images-gallery">
                  <img src="IMG-20240620-WA0001.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Gallery Item -->

            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="IMG-20240620-WA0005.jpg" class="glightbox" data-gallery="images-gallery">
                  <img src="IMG-20240620-WA0005.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Gallery Item -->

            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="IMG-20240620-WA0003.jpg" class="glightbox" data-gallery="images-gallery">
                  <img src="IMG-20240620-WA0003.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Gallery Item -->

            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="IMG-20240620-WA0002.jpg" class="glightbox" data-gallery="images-gallery">
                  <img src="IMG-20240620-WA0002.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Gallery Item -->

            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="IMG-20240620-WA0001.jpg" class="glightbox" data-gallery="images-gallery">
                  <img src="IMG-20240620-WA0001.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Gallery Item -->

          </div>

        </div>

      </section><!-- /Gallery Section -->

      <!-- Contact Section -->
      <section id="contact" class="contact section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Contact</h2>
          <p>Reach Us</p>
        </div><!-- End Section Title -->

        <div class="mb-5" data-aos="fade-up" data-aos-delay="200">
          <iframe style="border:0; width: 100%; height: 270px;"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus"
            frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div><!-- End Google Maps -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

          <div class="row gy-4">

            <div class="col-lg-4">
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Location</h3>
                  <p>iert,prayagraj INDIA</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Call Us</h3>
                  <p>+91 9453648868</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Email Us</h3>
                  <p>shyamatripathi101@gmail.com</p>
                </div>
              </div><!-- End Info Item -->

            </div>

            <div class="col-lg-8">
              <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up"
                data-aos-delay="200">
                <div class="row gy-4">

                  <div class="col-md-6">
                    <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                  </div>

                  <div class="col-md-6 ">
                    <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                  </div>

                  <div class="col-md-12">
                    <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                  </div>

                  <div class="col-md-12">
                    <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                  </div>

                  <div class="col-md-12 text-center">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>

                    <button type="submit">Send Message</button>
                  </div>

                </div>
              </form>
            </div><!-- End Contact Form -->

          </div>

        </div>

      </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">PrincyWeb</span>
          </a>
          <div class="footer-contact pt-3">

            <p>IERT EDD</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+654564654</span></p>
            <p><strong>Email:</strong> <span>shyamatripathi101@gmail.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Populars</a></li>

          </ul>
        </div>


         </div>
      </div>

      <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">PrincyWeb</strong> <span>All Rights Reserved</span>
        </p>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you've purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>
  <!--bootstrapjs-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</html>